@import url("https://use.typekit.net/akz2mas.css");
@import url("https://stijndv.com/fonts/Eudoxus-Sans.css");
:root {
    --white: #ffffff;
    --almost-white: #eeeeee;
    --sage-green: #6da37f;
    --dark-gray: #333333;
    --light-gray: #444444;
    --lighter-gray: #9b9b9b;
    --shadow: #11111135;
}
::selection {
    background: var(--sage-green);
    color: var(--white);
}
a hr {
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    border-radius: 7px 7px 7px 7px;
    width: 5px;
    height: 50px
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-family: "p22-mackinac-pro", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 6rem;
    animation: 300ms slideInTop;
    margin-top: 20px;
    margin-bottom: 40px;
}
h2 {
    font-family: 'Eudoxus Sans', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}
h3 {
    font-family: "p22-mackinac-pro", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    color: var(--white);
}
h4 {
    font-family: "p22-mackinac-pro", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    color: var(--dark-gray);
}
a {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    user-select: none;
    text-decoration: none;
    color: var(--dark-gray);
}
p {
    font-family: 'Eudoxus Sans', sans-serif;
    font-size: 24px;
    text-decoration: none;
}
ul, a, li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
html body {
    margin: 0;
    padding: 0;
    overflow: overlay;
    overflow-x: hidden;
    height: 100vh;
}
.sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--white);
}
nav {
    width: 95vw;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul, a, li {
    float: left;
}
ul li a {
    color: var(--white);
    padding: 15px 20px;
}
ul li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 200ms ease-out, background-color 400ms ease;
}
ul li a:hover:after {
    width: 80%;
    background: var(--white);
}
nav div {
    display: flex;
    gap: 10px;
    margin: 15px;
}
nav div a {
    color: var(--white);
    padding: 7px 8px 2px 7px;
    border-radius: 50%;
    transition: 100ms;
}
div a:hover {
    background-color: var(--hover);
    transition: 50ms;
}
.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    color: var(--dark-gray);
    background-color: var(--almost-white);
}
.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.donateCardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.donateCard {
    background-color: #eeeeee90;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid var(--almost-white);
}
.donateCard h2, p {
    margin: 14px;
}
.header {
    margin-left: 10vw;
    margin-top: 80px;
    margin-bottom: 40px;
}
.featuredWrapper {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}
.card {
    width: 25rem;
    height: 32rem;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}
.card:hover {
    transform: scale(1.01);
    transition: 200ms;
}
.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
}
.card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}
.card p, .card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}
.card p {
    inset: auto auto 20px 30px;
    font-size: 20px;
    font-weight: 300;
}
.card:hover h2 {
    inset: auto auto 450px 30px;
    transition: inset 0.3s ease-out;
}
.card:hover p, .card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}
.missionWrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}
.missionParagraph {
    width: 25vw;
    height: auto;
}
.donateWrapper {
    width: 100vw;
    background: radial-gradient(var(--sage-green), #b4ccbc);
    box-shadow: 0 4px 10px #00000060;
    margin-top: 40px;
    padding-bottom: 100px;
}
.footer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--dark-gray);
    height: fit-content;
}
.bibliographyWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}
.bibliographyRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 70vw;
    padding: 20px;
    border-radius: 12px;
    transition: 500ms;
}
.bibliographyRow hr {
    margin: 0px;
    position: absolute;
    transform: translatex(-150px);
}
.bibliographyRow:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px #00000010;
    transition: 200ms;
    cursor: pointer;
}
.bibliographyRow p {
    font-size: 14px;
    max-width: 500px;
    margin: 0px;
}
.bibliographyRow h2 {
    max-width: 300px;
}
sup {
    font-size: 14px;
}
.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: var(--almost-white);
}
.footerWrapper a {
    color: var(--almost-white);
}
.footerWrapper h4 {
    color: var(--almost-white);
}
.bottom {
    color: var(--almost-white);
    width: 100vw;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*WillowProject*/
.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    background-color: var(--almost-white);
}
.article h3,.article p,.article ul li a {
    color: var(--dark-gray);
}
.article ul li a:hover:after {
    width: 80%;
    background: var(--dark-gray);
}
.articleHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    margin-top: 100px;
    z-index: -1;
}
.articleTitle {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.articleImage {
    width: 400px;
    height: 600px;
}
.articleImage img {
    width: 480px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #00000030;
}
.text {
    width: 100vw;
    margin-top: 80px;
    height: fit-content;
    background-color: var(--dark-gray);
    border-radius: 34px 34px 0 0;
    box-shadow: 0 4px 10px #000000;
    padding-bottom: 450px;
    padding-top: 50px;
}
.text h2 {
    color: #ffffff;
    font-family: "p22-mackinac-pro", serif;
    margin-left: 15vw;
    line-height: 80px;
}
.text p {
    color: #ffffff;
    text-indent: 60px;
    margin-left: 15vw;
    margin-right: 15vw;
    line-height: 40px;
    font-size: 18px;
}
.endnoteHeader {
    padding-top: 120px;
    padding-bottom: 50px;
}
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--almost-white);
    animation: fade-out 200ms ease-in-out;
    animation-fill-mode: forwards;
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}
/*Animations*/
@keyframes slideInTop {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }
.factsWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.factsRow {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.fact {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 12px;
    transition: 300ms;
}
.fact:hover {
    transform: scale(1.03);
    transition: 100ms ease;
}
.fact h1 {
    font-family: 'Eudoxus Sans', sans-serif;
    font-size: 4rem;
    margin: 0;
}
.fact h2 {
    color: var(--sage-green);
}
/*Viewports*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 14px;
    }
    h2 {
        font-size: 1rem;
    }
    a {
        font-size: 14px;
    }
    h4 {
        font-size: 2rem;
    }
    .featuredWrapper {
        height: 400px;
    }
    .card {
        height: 18rem;
        width: 14rem;
    }
    .card:hover h2 {
        inset: auto auto 250px 30px;
        transition: inset 0.3s ease-out;
    }
    p {
        font-size: 14px;
    }
    .donateCard {
        width: 300px;
        height: 150px;
    }
    .fact h1 {
        font-family: 'Eudoxus Sans', sans-serif;
        font-size: 2rem;
        margin: 0;
    }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 14px;
    }
    h2 {
        font-size: 1rem;
    }
    a {
        font-size: 14px;
    }
    h4 {
        font-size: 2rem;
    }
    .featuredWrapper {
        height: 400px;
    }
    .card {
        height: 16rem;
        width: 13rem;
    }
    .card h2 {
        font-size: 14px;
    }
    .card p {
        font-size: 10px;
    }
    .card:hover h2 {
        inset: auto auto 200px 30px;
        transition: inset 0.3s ease-out;
    }
    p {
        font-size: 14px;
    }
    .donateCard {
        width: 300px;
        height: 150px;
    }
    .fact h1 {
        font-family: 'Eudoxus Sans', sans-serif;
        font-size: 2rem;
        margin: 0;
    }
    .bibliographyRow {
        width: 100vw;
        padding: 10px;
        margin: 4px;
    }
    .bibliographyRow h2 {
        font-size: 18px;
    }
    .bibliographyRow p {
        font-size: 12px;
        max-width: 300px;
    }
    .bibliographyRow hr {
        transform: translatex(-50px);
    }
}
@media screen and (min-width: 300px) and (max-width: 699px) {
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 14px;
    }
    h2 {
        font-size: 1rem;
    }
    a {
        font-size: 14px;
    }
    h4 {
        font-size: 2rem;
    }
    .featuredWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
    }
    .card {
        height: 18rem;
        width: 14rem;
    }
    .card h2 {
        font-size: 14px;
    }
    .card p {
        font-size: 10px;
    }
    .card:hover h2 {
        inset: auto auto 200px 30px;
        transition: inset 0.3s ease-out;
    }
    p {
        font-size: 14px;
    }
    .donateCard {
        width: 150px;
        height: 150px;
    }
    .donateCard sup {
        font-size: 4pt;
    }
    .donateCard p {
        font-size: 8px;
    }
    .donateCard h2 {
        font-size: 10px;
    }
    .fact {
        width: 300px;
        height: 100px;
    }
    .fact h1 {
        font-size: 30px;
    }
    .fact sup {
        font-size: 8pt;
    }
    .footerWrapper a {
        font-size: 12px;
    }
    .text p {
        font-size: 12px;
        text-indent: 8px;
        line-height: 26px;
    }
    .articleImage, .articleImage img{
        height: 150px;
        width: 120px;
    }
    .articleTitle {
        width: 200px;
    }
    .articleTitle p {
        font-size: 12px;
    }
    .missionWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .missionParagraph {
        width: 400px;
    }
    h4 {
        font-size: 24px;
    }
    .bibliographyRow {
        width: 100vw;
        padding: 10px;
        margin: 4px;
    }
    .bibliographyRow h2 {
        font-size: 12px;
    }
    .bibliographyRow p {
        font-size: 8px;
        max-width: 200px;
    }
    .bibliographyRow hr {
        transform: translatex(-50px);
    }
    a hr {
        width: 2px;
        height: 10px;
    }
    .header {
        margin-left: 16px;
    }
    .sectionOne {
        background: url(images/background\ -\ Copy.jpg) no-repeat center center scroll; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .factsRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .factsWrapper {
        margin-bottom: 80px;
        height: fit-content;
    }
}
